@import "./mixins";
//TODO COMPONENTS
.todo__container {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  min-height: 600px;
  max-height: 800px;
  height: 100%;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: grid;
  grid-template-rows: 100px 1fr 80px;
  grid-template-columns: 1fr;
  position: relative;
  overflow: hidden;

  .todo__header {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
  }

  .todo__content {
    grid-area: 2 / 1 / 3 / 2;
    overflow-y: scroll;
    mask-image: linear-gradient(to bottom, black 5%, transparent 150%);

    transition: all 0.3s ease-in-out;

    &-list {
      width: 100%;
      padding: 15px;
      display: grid;
      grid-template-columns: 1fr;

      transition: all 0.3s ease-in-out;
      &-item {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border: 1px solid rgba(255, 255, 255, 0.6);
        height: min-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        cursor: pointer;
        transition: all 0.6s ease-in-out;
        margin:10px 0;

        &:hover {
          box-shadow: 0 4px 30px rgba(0, 220, 217, 0.3);
        }
      }
    }
  }

  .todo__navbar {
    grid-area: 3 / 1 / 4 / 2;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 99;

    &-button--add {
      @include primary-transition;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 65px;
      width: 65px;
      border-radius: 100%;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      cursor: pointer;
      font-size: 2.5rem;
      color:white;
      background: linear-gradient(44deg, rgba(47, 36, 59, 0.98), rgb(55, 42, 70));
    }

    .icon-container {
      height: 100%;
      width: 100%;
      position: relative;

      i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
      }
    }
    &-button--confirm {
      @include primary-gradient;

    }

    &-button--close {
      @include primary-transition;
      position: absolute;
      top: -40px;
      right: 50%;
      transform: translateX(70px);
      font-size: 1.9rem;
      color: lightblue;
      cursor: pointer;
      &:hover {
        font-size: 1.7rem;
      }
    }

    &-list {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      &-item {
        margin: 0 15px;
        i {
          font-size: 1.4rem;
          color: #a4a4a4;
          cursor: pointer;
          &:hover {
            color: darken(#a4a4a4, 20%);
          }
        }
      }
    }
  }

  .todo__add-item {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.5px);
    transition: all 0.4s ease-in-out;
    transform: translate(-50%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    opacity: 0;
    &--active {
      transform: translate(-50%, 0);
      opacity: 1;
    }



    &-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(13.5px);
      -webkit-backdrop-filter: blur(13.5px);

      i {
        cursor: pointer;
      }
    }
  }
}

.remove-btn {
  margin-right: 0.5rem;
}


.todo__input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 80px);
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  input {
    background: transparent;
    border-radius: 10px;
    padding: 4px;
    font-weight: 600;
    font-size: 1.6rem;
    border: none;
    width: 100%;
    height: 40px;
    color: #9b9b9b;
    @include primary-transition;
    &:focus-visible {
      border: none;
      @include primary-transition;
      outline: none;
    }
    &:focus::placeholder {
      @include primary-transition;
      color: transparent;
    }
  }
  input[name="description"] {
    font-weight: 500;
    font-size: 1.3rem;
  }
}


.item-enter {
  max-height: 0;
  opacity: 0;
  margin:0;
}

.item-enter-active {
  max-height: 86px;
  opacity: 1;
  transition: max-height 300ms ease, opacity 300ms ease!important;
  margin:10px 0;
}

.item-exit {
  max-height: 86px;
  opacity: 1;
  margin:10px 0;


  &:after {
    content:"";
    position: absolute;
    margin:10px 0;
    width:0;
    height: 0;
    background-color:rgba(0,0,0,0.1);
    transition: all 500ms ease;
  }
}

.item-exit-active {
  max-height: 0;
  opacity: 0;
  margin:0 !important;
  padding:0 !important;
  border:none !important;
  position: relative;

  &:after {
    content:"";
    position: absolute;
    left:5%;
    width:90%;
    height: 1px;
    background-color:rgba(0,0,0,0.1);
    transition: all 500ms ease;
  }
  transition-property: max-height, opacity, all;
  transition-duration: 800ms, 800ms, 300ms;
  transition-delay: 1000ms, 500ms, 0ms;
}
