@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./mixins";
* {
  font-family: "Inter", sans-serif;
  color: rgba(47, 36, 59, 0.98);
}

h1 {
  font-weight: 900;
  font-size: 9rem;

  span {
    @include primary-text-gradient;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

.glass-title {
  color: rgba(47, 36, 59, 0.65);
}

.glass-title-light {
  color: rgba(47, 36, 59, 0.3);
  font-weight: 400;
}

.fa-circle-check {
  @include primary-text-gradient;
}

.fa-solid {
  @include primary-transition;
}

.todo__item-title {
  font-size:1.3rem;
  font-weight: 600;
}